*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  body{
    line-height: 1.5;
    margin-top: 5px;
    border-radius: 5px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  }